.header {
    padding-top: 24px;
    padding-bottom: 32px;

    &_container {
        padding: 0 20px;
        max-width: 1136px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_left {
        display: flex;
        align-items: center;
        gap: 4px;

        &--title {
            font-family: Montserrat;
            font-weight: 120%;
            font-style: normal;
            font-size: 24px;
            line-height: 36px;
            color: #1111;
        }
    }
}