.header {
    padding-top: 24px;
    padding-bottom: 32px;

    &_container {
        padding: 0 20px;
        max-width: 1136px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}